html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*min-height: 100vh;*/
  margin: 0; /* Important! */
  font-family: sans-serif;
  background:
    linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
    linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  font-size: 20px;
  color: yellow;
  line-height: 1;
  position: relative;
  padding-top: 270px;
}

a {
  text-decoration: none;
  color: black;
  background: rgba(0,0,0,0.05);
  border-radius: 20px;
}

.highlight {
  transition: all 0.2s;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  background: white;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  margin:50px 0;
}

.menu a {
  display: inline-block;
  padding: 5px;
  margin: 0 20px;
  color: white;
}

.menu a:hover {
  color: black;
}

#welcome-section {
 color: #000000;
 height: 100vh;
 width: 100%;
 display: inline-block;
 text-align: center;
}

#projects {
 background-color: none;
 height: auto;
 width: 100%;
 text-align: center;
}

#projects h2 {
  color: #ffffff;
  text-align: center;
  font-size: 41px;
  line-height: 25px;
}

#projects hr {
width: 15%; 
border-top: 2px solid #ffffff;

}

#outer {
    width:100%;
    text-align: center;
}

.inner {
    display: inline-block;
    padding: 5px;
}

.project-tile {
 display: inline-grid;
 padding: 18px;
}

.project-tile a:hover {
  text-decoration: none;
}

.project-tile img {
 width: 360px;
 height: 320px;
}

.project-text {
 background-color: #3c423e;
 padding-top: 10px;
 color: white;
 width: 360px;
 height: 140px;
 text-align: center;
 font-family: arial;
 font-size: 20px;
}

#profile-link {
font-size: 25px;
color: #ffffff;
padding: 10px;
}

.word-icon {
 margin-left: 8px;
}

/* contact area */
#contact {
 color: #ffffff;
 height: 450px;
 width: 100%;
 display: inline-block;
 text-align: center;
}

#contact h1 {
  padding-top: 80px;
  font-size: 50px;
}

#contact p {
  font-size: 22px;
  font-style: italic;
  padding-bottom: 80px;
}

#contact hr {
width: 80%; 
border-top: 2px solid #ffffff;
}

#more a, a:hover {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

#more {
  background-color: #8a312b;
  display: block;
  max-width: 130px;
  margin: 0 auto;
}

@media only screen and (max-width: 640px) {
.wrapper {
 
}

#welcome-section {
 color: #000000;
 display: inline-block;
 text-align: center;
}

}